@import "tailwindcss";

@font-face {
    font-family: "minecraft";
    src: url("/minecraft.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: "minecraft", "Courier New", Courier, monospace;

    /* font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; */
}

img {
    image-rendering: pixelated;
}